<p>Fullname: {{payload.user.name}}</p>
<p>Correo: {{payload.user.emailAddress}}</p>
<p>Role: {{payload.user.role}}</p>
<form action="/api/sessions/logout" method="post"><button type="submit">Logout</button></form>